
<p class="OwnerTitle"> Owner's Portal </p>

<p class="OwnerPageLink"><%= link_to "Click to manage menu items", menu_index_path %></p>
<br>
<p class="OwnerPageLink"><%= link_to "Click to manage Orders", orders_path %></p>
