
<% Menuitem.category_list.each do |cat| %>
  <%= render partial: "menu-item", locals: {
               category: cat,
               items: Menuitem.category(cat),
             } %>
<% end %>

<p style="margin-bottom:50px;"></p>
<%= link_to "View Cart", carts_path %>
