.Home-title{
  font-size:20px;
  margin-bottom:30px;

}

.Home-authenticate{
  font-size:16px;
  margin-bottom:20px;
}

.UserHeader{
  padding:10px;
  background-color:lightgray;
  font-size:18px;
  margin-bottom:10px;
  border-radius:4px;
  display: flex;
  justify-content:space-between;
}

.Flash-error{
  color:darkred;
  margin-bottom:20px;
  font-size:16px;

}

.BackLink{
  margin-top:100px;
  text-align:center;
  float:center;
  font-size:20px;

}

.PlaceLink{
  margin-top:50px;
  text-align:center;
  float:right;
  font-size:20px;
  margin-bottom:70px;
  padding:10px;
}
