body{
  margin:0 auto;
  max-width: 500px;
  justify-content:center;
  background-color:#CDB2FB;
  color:#270563;
}

.NewUsers-title{
  margin-bottom:40px;
  font-size:30px;
}
.Form-section{
  margin-bottom:20px;
}

.Form-input{
  font-size:20px;
  padding:8px;
}

.FormInput-label{
  color: #555;
  margin-bottom:30px;
}

.Form-submit{
  font-size: 20px;
  padding: 20px;
  background-color: #48BB78;
  color: white;
  border:0;
  border-radius:4px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #1d6305;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:#c5fbb3;
  background-color: transparent;
  text-decoration: underline;
}

.OwnerTitle{
  font-size:20px;
  text-align:center;
  margin:20px;
  margin-bottom:50px;
}


.OwnerPageLink{
  padding:20px;
  font-size:18px;


}
